<br>
<br>
<p-fieldset>
    <ng-template pTemplate="header" class="header">
        <div>
            <h3 class="title">
                VJTI Blockchain and AI Lab
            </h3>
        </div>
    </ng-template>
    <p>
        Assisted on the "Distributed Centre of Excellence for Blockchain Technology" project funded by the Ministry of
        Electronics and Information Technology (MeitY), Government of India, to evolve an ecosystem around R&D
        organizations, Government departments, and Academia to foster Blockchain technology. (https://www.somecha.in/)
        <br>
        <br>
        Under the mentorship of Dr. Dhiren Patel (Director, VJTI Mumbai) organized two capacity-building workshops on
        blockchain technology-
        <br>
        <br>
        1. Compered and managed the International Conference on Blockchain for Global Good 2019.
        <br>
        2. Managed the Faculty Development Program 2020 and presented my research paper titled- Crypto-Wills:
        Transferring Digital Assets by Maintaining Wills on the Blockchain and a poster on the same.
        <br>
        <br>
        Teaching experience-
        <br>
        <br>
        1. Taught Merkle tree optimization, Ethereum smart contracts, usage of Remix and Solidity in the Blockchain
        course CO4118T- Fall 2019 to a class of 130 (mix of Final Year Computer, IT, EXTC, Electronics Engineering
        students), alongside Jainam Shah.
        <br>
        <br>
        Published two research papers-
        <br>
        <br>
        1. Crypto-Wills: Transferring Digital Assets by Maintaining Wills on the Blockchain
        Shah J.C., Bhagwat M., Patel D., Conti M. (2020) Crypto-Wills: Transferring Digital Assets by Maintaining Wills
        on the Blockchain. In: Bansal J., Gupta M., Sharma H., Agarwal B. (eds) Communication and Intelligent Systems.
        ICCIS 2019. Lecture Notes in Networks and Systems, vol 120. Springer, Singapore, pp. 407-416, Print ISBN:
        978-981-15-3324-2
        <br>
        2. Blockchain to Improve Academic Governance
        Bhagwat M., Shah J. C., Bilimoria A., Parkar P. and Patel D., "Blockchain to Improve Academic Governance", in
        the Proceedings of IEEE CONECCT-2020 on IEEE Xplore, ISBN: 978-1-7281-6828-9/20/$31.00 ©2020 IEEE
    </p>
</p-fieldset>

<br>
<br>
<p-fieldset>
    <ng-template pTemplate="header" class="header">
        <div>
            <h3 class="title">
                Uxworx
            </h3>
        </div>
    </ng-template>
    <p>
        I interned under Mr. Saurabh Karandikar, CUA, CXA and CEO of Uxworx and worked on the project involving User Experience analysis and design, heuristic evaluations of government websites - 48months.mygov.in and irctc.co.in
    </p>
</p-fieldset>