<!-- <div>
    <img src="../../assets/MugdhaBhagwat_Photo.png" class="profilePicture">
    <h1 class="title">
        Mugdha Bhagwat
    </h1>
</div> -->
<br>
<br>
<p-fieldset>
    <ng-template pTemplate="header" class="header">
        <div>
            <img src="../../assets/MugdhaBhagwat_Photo.png" class="profilePicture">
            <h3 class="title">
                Mugdha Bhagwat
            </h3>
        </div>
    </ng-template>
    <p>
        <i>
            “Code is like humor. When you have to explain it, it’s bad.” – Cory House
        </i>
        <br>
        <br>
        With an innate love for computers since I was about 5 years old, I gravitated towards the field of Computer
        Engineering and pursued a Bachelors in Technology degree, post which I joined the Software industry. Working as
        a Software Developer for the past 2 years I am fulfilling my passion of writing clean, scalable code to solve
        complex issues.
        <br>
        <br>
        I first became interested in computer programming after playing the Road Rash game on my old PC. I opted for
        Computer Science vocational course during my high school (HSC) years at <a href="https://www.ruiacollege.edu/">
            Ramnivas Ruia Jr. College </a>, and built a car racing game using C++ game engine, graduating with 99% in
        Computer Science and 95.23% over all. With over 1M (10 lakh) students apppearing for the exam, I stood first
        among girls in the Mumbai division and earned a full ride scholarship for higher education from the Maharashtra
        State Government.
        <br>
        <br>
        I joined the <a href="https://vjti.ac.in/"> VJTI, Mumbai</a> to pursue the BTech degree in Computer Engineering.
        During my 4 years of undergraduate studies I focused majorly on Cybersecurity and Blockchain domain. I parallely
        pursed a Diploma in Cyber Laws in India from the Asian School of Cyber Laws and the Government Law College,
        Mumbai. In my final year at VJTI I worked as a Research Assistant in the Blockchaina and AI lab. I published 2
        research papers during that time and worked on several projects in the blockchain domain. Subsequently I was
        invited to conduct lectures for the Blockchain course for 3 consecutive years on Ethereum, Smart Contracts and
        Solidy programming. I graduated 2nd in my class with a 9.64 CPI in May 2020.
        <br>
        <br>
        After graduation I started working at Morgan Stanlet as a Technology Analyst in August 2020 and was promoted to
        Sr. Technology Associate in January 2022. Since then I have worked as a Full Stack Developer leveraging
        technologies like Angular, Java- Spring Boot, Spark, Kafka, whilst also being involved in several activities in
        the firm. I worked a core team member to help organize the Code for Good hackathon to help non profits in India,
        I was a finalist in the internal hackathon conducted to encourage innovation within the firm.
        <br>
        <br>
        Previously I interned at Amazon Lab126, a research and development company under Amazon, as a Software
        Development Engineering Intern. I leveraged React, AWS Lambas to create a solution for the Connectivity
        Solutions Group to help convert a manual, time consuming proccess to an autmated web based solution readily
        usable by the end users saving countless hours. Using the web based solution I was able to create and manage
        locations, clusters of devices, along with a RBAC system to prevent and decrease risks of data leakage and
        breaches.
        <br>
        <br>
        During my time at Morgan Stanley and Amazon, while designing the web based solutions I was able to leverage the
        knowledge from my previous internship at Uxworx. Under the guidance of Mr. Saurabh Karandikar (CUA, CXA, CEO
        Uxworx) I worked on projects involving User Experience Analysis and Design, along with Heuristic Evalutations of
        websistes.
    </p>
</p-fieldset>